/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.lein*
*.DS_Store
*/_build/*
out/
.repl/*
resources/public/js/*
!resources/public/js/sanity_react.js
resources/test/unit/*
src/lib/
scratch.rst
test/robot/*.html
test/robot/*.xml
test/robot/*.png
test/robot/*.pyc
*.idea