body {
  background-color: mistyrose;
}

p#output {
  font-decoration: italic;
}

.vanilla-border {
  border: 1px dotted brown;
}

.gold {
  background-color: gold;
}

p {
  padding: 0.5em;
  margin: 1em;
}

.cardDisplay {
  display: inline-block;
}

span.cardDisplay {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.2em;
  border: 4px solid black;
}

span.cardDisplay.red {
   color: red;
   border-color: red;
}

.deckIcon {
  margin: 1em;
  padding: 1em;
  border: 1px solid gray;
}

span.glyphicon-align-justify {
  font-size: 1.4em;
}

span.deckCensus {
  font-family: monospace;
}

.cardStatus {
  position: relative;
  padding: 0.3em;
  width: 5em;
  min-width: 5em;
  height: 3em;
  min-height: 2em;
  border: 1px solid gray;
  text-align: center;
}

.cardStatus .numCards {
  position: absolute;
  top: 0.1em;
  left: 0.01em;
  width: 100%;
  font-family: monospace;
}

.cardStatus .showing {
  position: absolute;
  bottom: 0.1em;
  left: 0.01em;
  width: 100%;
  font-style: italic;
  font-size: 80%
}

.morphSprite {
    border: 2px solid blue;
    -webkit-transition: all 1s;
    transition: all 1s;    
}

.morphSprite.hovering {
    border-width: 6px;
    border-color: #00FF00;
    background-color: #00FFAA;
}

.spriteLabel {
    color: blue;
}

.canvasDiv {
    background-color: cornsilk;
    border: 2px dotted red;
}

.dragSpriteTitle {
    width: 100%;
    text-align: center;
    background-color: lightsalmon;
    font-size: 80%;
    -webkit-transition: all 0.5s;
    transition: all 1s;
}

.dragSpriteTitle:hover {
    background-color: orangered;
    color: lightseagreen;
}


.dragSpriteMessage {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    font-family: monospace;
}


.pianoBar {
    width: 43em;
    height: 20em;
    border: 4px solid #DDDDDD;
    box-shadow: 10px 10px 5px #888888;
}

.pianoOuter {
}

.pianoInner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pianoKey {
    display: inline-block;
    border: 1px solid #000000;
    width: 6em;
    height: 100%;
}

.pianoKey.minor {
    border: 2px solid #FF0000;
    height: 70%;
    width: 5.5em;
    background-color: #000000;
    z-index: 100; /** beats the default 0 **/
}

div.noteName {
    display: none;
}

.glow div.noteName, .active div.noteName {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FF0000;
    font-size: 2em;
    font-family: monospace;y
}

.pianoKey.glow {
   border: 4px solid #00FF00 !important;
   background-color: rgba(0, 255, 0, 0.4);
}

.pianoKey.minor.glow {
  background-color: rgba(0, 128, 0, 1);
}

.pianoKey.active {
   border: 4px solid #00AAFF !important;
   background-color: rgba(0, 154, 255, 0.4);
}

.pianoKey.minor.active {
   background-color: rgba(0, 77, 128, 1);
}