div.mainWidgetOuter {
  border: 1px solid salmon;
  margin: 0.5em;
  padding: 0.5em;
}

div.iconOuter {
  display: inline-block;
}

div.mainWidgetInner {
  border: 1px solid pink;
  margin: 1em;
  padding: 1em;
}

svg.iconGears {
  width: 200;
  height: 200;
}

svg.iconGears rect {
  fill: rgba(0,0,0,0);
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

svg.iconGears circle {
  stroke: darkorange;
  stroke-width: 0;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;  
}

svg.iconGears circle:first-child {
  fill: dodgerblue;
}

svg.iconGears circle:nth-of-type(2) {
  fill: navy;
}

svg.iconGears path {
  fill: skyblue;
  stroke: navy;
  stroke-width: 0;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

svg.iconGears:hover rect {
  fill: rgba(255,200,0,0.3);
}

svg.iconGears:hover path {
  stroke-width: 0.3;
}

svg.iconGears:hover circle {
  stroke-width: 1;
}

/** disc icon section **/

svg.iconDisc {
  width: 200;
  height: 200;
}

svg.iconDisc * {
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

svg.iconDisc circle.discBg {
  fill: rgba(0,0,0,0);
  stroke: rgba(0,0,0,0);
  stroke-width: 0;
}

svg.iconDisc:hover circle.discBg {
   fill: rgba(255,150,0,0.3);
   stroke: rgba(255,150,0,1);
}

svg.iconDisc path {
  fill: rgba(0,100,255,0.4);
  stroke: rgba(0,0,0,0);
  stroke-width: 0;
}

svg.iconDisc:hover path {
  fill: rgba(0,50,255,1);
  stroke: navy;
  stroke-width: 1;
}

svg.iconDisc circle.discInner {
  fill: rgba(255, 182, 193, 0.3);
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 0;
}

svg.iconDisc:hover circle.discInner {
  fill: rgba(255, 182, 193, 1);
  stroke: rgba(255, 0, 0, 1);
  stroke-width: 1;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: center center;  
 }
 
  12.5% {
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: center center;
  }

  25% {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: center center;
  }

  37.5% {
    -webkit-transform: rotate(135deg);
    -webkit-transform-origin: center center;
  }

  50% {
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: center center;
  }

  62.5% {
    -webkit-transform: rotate(225deg);
    -webkit-transform-origin: center center;
  } 

  75% {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: center center;
  }

  87.5% {
    -webkit-transform: rotate(315deg);
    -webkit-transform-origin: center center;
  }

  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: center center;
  }
}

svg.iconDisc:hover path {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-function: linear;
}


div.iconOuter, div.iconOuter * {
   -webkit-transition: all 500ms ease-in;
   -moz-transition: all 500ms ease-in;
   -o-transition: all 500ms ease-in;
   transition: all 500ms ease-in;
}

div.iconOuter.medal.pinned {
  background-color: wheat;
}

div.iconOuter.medal.hovering {
   border: 2px solid green;
}

svg.iconMedal {
  width: 200;
  height: 200;
}

div.iconOuter.medal.hovering polygon:nth-of-type(1){
  fill: red;
}

div.iconOuter.medal.hovering polygon:nth-of-type(2){
  fill: blue;
}

div.iconOuter.medal.hovering path {
  fill: darkorange;
}


svg.iconHeart {
  width: 80px;
  height: 80px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  transition-timing-function: cubic-bezier(0.8, -0.8, 0.8, 2.1);

}

svg.iconHeart:hover {
  width: 100px;
  height: 100px;
}

path.lonelyPath {
  fill: pink;
  stroke: red;
  stroke-width: 2;
}

svg#myBear {
  width: 80;
  height: 80;
}

svg.myAnt {
  width: 32;
  height: 32;
}